
FeatureViewer {
    width: 100%;
    background: $surface;
    overflow-y: scroll;
    scrollbar-size-vertical: 2
}

FeatureViewer .featurevier--label {
    color: $secondary-darken-3;
}

FeatureViewer .featurevier--default-feature {
    color: grey;
}
FeatureViewer .featurevier--type-cds {
    color: red;
}
FeatureViewer .featurevier--type-gene {
    color: blue;
}
FeatureViewer .featurevier--type-mRNA {
    color: orange;
}
FeatureViewer .featurevier--type-regulatory {
    color: purple;
}
FeatureViewer .featurevier--type-sig_peptide {
    color: green;
}
FeatureViewer .featurevier--type-variation {
    color: yellow;
}

LocalViewport {
    height: 6fr;
}

.focus-highlight-border {
    border: round gray;
}

.focus-highlight-border:focus-within {
    border: round green;
}


PositionBar {
    height: 2;
    background: $panel;
    color: $accent;
    margin-right: 2;

    #left{
        text-align: left;
        width: 1fr;
    }
    #middle{
        text-align: center;
        width: 1fr;
    }
    #right{
        text-align: right;
        width: 1fr;
    }
}    

ZoomDetailsBar {
    height: 1;
    background: $panel;
    color: $accent;
    margin-right: 2;
    dock: bottom;

    #left{
        text-align: left;
        width: 1fr;
    }
    #middle{
        text-align: center;
        width: 1fr;
    }
    #right{
        text-align: right;
        width: 1fr;
    }
}    

DataViewer{
    height: 4fr;
    padding-top: 1;
    padding-left: 1;
}

.visible-features-data-table {
    width: 1fr;
    height: 100%;
}

.visible-features-details {
    width: 1fr;
}

.focus-highlight-background:focus-within{
    background: $panel;
}

TextSearch Input{
    margin: 0 1 1 1;
    border: none;
    padding: 0 1;
    height: 1;
    background: $panel;
}

TextSearch Input:focus{
    background: $secondary-background;
}

.text-search-placeholder {
    text-align: center;
    color: $error;
}
