
FeatureViewer {
    width: 100%;
    background: $surface;
    overflow-y: scroll;
    scrollbar-size-vertical: 2
}

FeatureViewer .featurevier--label {
    color: white 20%;
}

FeatureViewer .featurevier--default-feature {
    color: grey;
}
FeatureViewer .featurevier--type-cds {
    color: green;
}
FeatureViewer .featurevier--type-gene {
    color: blue;
}
FeatureViewer .featurevier--type-mrna {
    color: orange;
}
FeatureViewer .featurevier--type-rrna {
    color: cyan;
}
FeatureViewer .featurevier--type-trna {
    color: magenta;
}
FeatureViewer .featurevier--type-rep_origin {
    color: pink;
}
FeatureViewer .featurevier--type-regulatory {
    color: purple;
}
FeatureViewer .featurevier--type-sig_peptide {
    color: red;
}
FeatureViewer .featurevier--type-variation {
    color: yellow;
}

LocalViewport {
    height: 6fr;
}

.focus-highlight-border {
    border: round gray;
}

.focus-highlight-border:focus-within {
    border: round green;
}


PositionBar {
    height: 2;
    background: $panel;
    color: $accent;
    margin-right: 2;

    #left{
        text-align: left;
        width: 1fr;
    }
    #middle{
        text-align: center;
        width: 1fr;
    }
    #right{
        text-align: right;
        width: 1fr;
    }
}    

ZoomDetailsBar {
    height: 1;
    background: $panel;
    color: $accent;
    margin-right: 2;
    dock: bottom;

    #left{
        text-align: left;
        width: 1fr;
    }
    #middle{
        text-align: center;
        width: 1fr;
    }
    #right{
        text-align: right;
        width: 1fr;
    }
}    

#feature-details {
    dock: right;
    padding: 1;
    display: none;
    width: 30%;
    height: 100%;
    background: darkcyan;
}


DataViewer{
    height: 4fr;
    padding-top: 1;
    padding-left: 1;
}


.visible-features-data-table {
    width: 1fr;
    height: 100%;
}

.visible-features-details {
    width: 1fr;
}

.focus-highlight-background:focus-within{
    background: $panel;
}

TextSearch Input{
    margin: 0 1 1 1;
    border: none;
    padding: 0 1;
    height: 1;
    background: $panel;
}

TextSearch Input:focus{
    background: $secondary-background;
}

# For some reason Textual cannot account for the fact that the 
# table is 2 rows lower in the search (because of the search bar)
# We need to account for it with the margin-bottom so that the
# content doesn't get get out of view

TextSearch .visible-features-data-table{
    height: 100%;
    margin-bottom: 2;
}

.text-search-placeholder {
    text-align: center;
    color: $error;
}

GotoPositionScreen {
    align: center middle;
}

#goto-container{
    width: 80;
    height: 8;
}

#goto-message{
    margin: 1 3
}